<!-- /templates/customers/login.liquid -->
<div id="login_forms">
    <h2 id="login_title">ログイン</h2>
    {% form 'customer_login' %}

    {{ form.errors | default_errors }}

    <label class="login_tag" for="customer_email">メールアドレス</label><br>
    <input class="login_tag_form" type="email" name="customer[email]" /><br>

    <label class="login_tag" for="customer_password">パスワード</label><br>
    <input class="login_tag_form" type="password" name="customer[password]" /><br>

    <input class="sign_in_btn" type="submit" value="サインイン" />

    {% endform %}

    <h2 class="login_tag">パスワードを忘れた>></h2>
    {% form 'recover_customer_password' %}

    {{ form.errors | default_errors }}

    <label class="login_tag" for="customer_email">メールアドレス</label><br>
    <input class="login_tag_form" type="email" name="email" />

    <input class="sign_in_btn" type="submit" value="送信する" />
    <a class="registar_btn" href="/account/register"><p>アカウントを作成＞＞</p></a>

    {% endform %}
</div>