<!-- /templates/customers/reset_password.liquid -->
<div id="reset-password">
{% form 'reset_customer_password' %}

{{ form.errors | default_errors }}

<label class="login_tag" for="password">新しいパスワード</label><br>
<input class="login_tag_form" type="password" value="" name="customer[password]" size="16" /><br>

<label class="login_tag" for="password_confirmation">パスワードの確認</label><br>
<input class="login_tag_form"
  type="password"
  value=""
  name="customer[password_confirmation]"
  size="16"
/><br>

<input class="sign_in_btn" type="submit" value="パスワードをリセット" /><br>

{% endform %}
</div>