<div class="top_logo_area">
  <div class="on_img" style="">
    <img class="top_fv_logo fadeUpTrigger" src="{{ section.settings.logo_img | img_url: 'master' }}" alt="{{ section.settings.logo_img.alt }}">
  </div>
</div>
{% schema %}
{
 "name": "ロゴを変更",
 "settings": [
  {
   "type": "image_picker",
   "id": "logo_img",
   "label": "画像を選ぶ"
  },
  {
    "type": "range",
    "id": "logo_range",
    "label": "ロゴの上下の微調整",
    "min": 1,
    "max": 100,
    "step": 1,
    "default":35
   }
 ],

"presets": [
  {
   "name": "テスト画像",
   "category": "画像"
  }
 ]
}
{% endschema %}

{% stylesheet %}

.top_logo_area{
  position:absolute;
  top:-100px;
  width:100vw;
  height:100vh;
}
.on_img{
    position:absolute;
    width:50%;
    top:70%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    opacity:0.9;
}
.top_fv_logo{
    position:relative;
    /* left:50%;
    transform: translateX(-50%); */
}
@media screen and (max-width: 991px) {

  .top_fv_logo{
    /* width:100%; */
  }

.on_img {
    position: absolute;
    top:35%;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
  }
}

{% endstylesheet %}
