<div id="about_wrapp">
	<div id="about_first_view">
	<div class="about_back"><p class="about fadeUpTrigger">About</p></div>
	</div>
	<div class="about_image_frame_1 fadeUpTrigger">{% section 'about_image_1' %}</div>
	<div class="about_image_frame_2 fadeUpTrigger">{%section 'about_image_2'%}</div>
	<div class="about_image_frame_3 fadeUpTrigger">{%section 'about_image_3'%}</div>
	
	<div class="about_poem">
		  <div class="about_image_frame_4 fadeUpTrigger">{%section 'about_image_4'%}</div>
		  <div class="about_poems">
			<p class="about_concept_title fadeUpTrigger">食は、人を幸せにする</p>
			<p class="about_concept_char fadeUpTrigger">口の中でスーッと溶け込む味わいに<br>美味しさの記憶をたどり<br>農家さんだからこそできる美味を。</p>
		  </div>
	</div>
</div>
<div class="how_to_eat about_back_white">
		<p class="recipe_title fadeUpTrigger">ピオーネ<br>美味しい食べ方</p>
		<div class="recipe_content fadeUpTrigger">
			{%section 'about_recipe_block_1' %}
		</div>
</div>
<div class="how_to_eat about_back_white">
		<p class="recipe_title fadeUpTrigger">シャインマスカット<br>美味しい食べ方</p>
		<div class="recipe_content fadeUpTrigger">
			{%section 'about_recipe_block_2' %}
		</div>
</div>
<div class="how_to_eat about_back_white">
		<p class="recipe_title fadeUpTrigger">清水白桃<br>美味しい食べ方</p>
		<div class="recipe_content fadeUpTrigger">
			{%section 'about_recipe_block_3' %}
		</div>
</div>
<div class="how_to_eat about_back_white">
		<p class="recipe_title fadeUpTrigger">黄金桃<br>美味しい食べ方</p>
		<div class="recipe_content fadeUpTrigger">
			{%section 'about_recipe_block_4' %}
		</div>
</div>