<div id="about_wrapp">
	<!--<div id="about_first_view">
	<div class="about_back"><p class="about fadeUpTrigger">About</p></div>
	</div>!-->
	<div class="about_image_frame_1 fadeUpTrigger">
	<svg class="about_text_clip" xmlns="http://www.w3.org/2000/svg" height="100vh" viewBox="0 0 256.004 1080.002">
  		<path id="前面オブジェクトで型抜き_6" data-name="前面オブジェクトで型抜き 6" d="M-21649.5,1665h-256v-98.711h148.213v44.08h29.7V1488.11h-29.7v43.844H-21905.5V1402.385a53.086,53.086,0,0,0,24.164,31.34,74.126,74.126,0,0,0,21.443,8.348,124.9,124.9,0,0,0,27.9,2.88h104.633v-34.332h-107.877a89.654,89.654,0,0,1-20.441-2.067,40.081,40.081,0,0,1-13.982-5.938,24.117,24.117,0,0,1-8.021-9.418,29.073,29.073,0,0,1-2.564-12.5,26.941,26.941,0,0,1,2.629-12.043,24.766,24.766,0,0,1,8.131-9.3c7.656-5.388,19.18-8.12,34.25-8.12h107.877v-34.337h-104.863a134.6,134.6,0,0,0-27.918,2.653,75.47,75.47,0,0,0-21.375,7.791,51.337,51.337,0,0,0-15.047,12.677,52.017,52.017,0,0,0-8.939,17.313l0-142.776a66.323,66.323,0,0,0,10.955,21.9,68.975,68.975,0,0,0,18.854,16.848,93.154,93.154,0,0,0,26.676,10.824,145.349,145.349,0,0,0,34.426,3.824,124.469,124.469,0,0,0,34.094-4.542,88.749,88.749,0,0,0,28.633-13.7,65.609,65.609,0,0,0,19.715-22.965,70.429,70.429,0,0,0,7.34-32.34,71.84,71.84,0,0,0-6.959-31.563,69.266,69.266,0,0,0-19.312-23.972,88.97,88.97,0,0,0-29.318-15.229,124.022,124.022,0,0,0-36.975-5.333c-21.619,0-41.146,4.681-56.469,13.538a72.25,72.25,0,0,0-19.674,16.407,64.077,64.077,0,0,0-11.986,22.373l0-144.335a88.673,88.673,0,0,0,5.611,20.131,51.452,51.452,0,0,0,8.971,14.352,47.568,47.568,0,0,0,7.686,6.943,48.694,48.694,0,0,0,8.9,5.094,49.773,49.773,0,0,0,9.773,3.136,50.159,50.159,0,0,0,10.3,1.07,46.356,46.356,0,0,0,15.688-2.632,41.709,41.709,0,0,0,12.73-7.287,44.323,44.323,0,0,0,9.424-11.029,50.907,50.907,0,0,0,5.77-13.856h.93a50.472,50.472,0,0,0,6.768,12.484,41.35,41.35,0,0,0,9.1,8.918,38.883,38.883,0,0,0,22.652,7.134,41.364,41.364,0,0,0,19.6-4.7,38.38,38.38,0,0,0,7.8-5.48,39.711,39.711,0,0,0,6.234-7.22,57.728,57.728,0,0,0,8.9-21.113c1.68-7.662,2.463-16.581,2.463-28.07,0-8.291-.369-17.046-1.07-25.319a180.16,180.16,0,0,0-2.641-19.921H-21905.3c-.064.454-.127.928-.2,1.429l-.006.041,0-48.01,177.91-49.741V819.486l-177.91-50.437V585h256V1665h0v0Zm-166.482-433.02a122.363,122.363,0,0,1-25.248-2.465,73.153,73.153,0,0,1-20.484-7.337,39.178,39.178,0,0,1-13.742-12.123,29.652,29.652,0,0,1-5.021-16.822c0-11.97,6.488-21.987,18.764-28.969a72.6,72.6,0,0,1,20.287-7.47,115.529,115.529,0,0,1,24.746-2.533c17.182,0,32.867,3.378,44.17,9.511a40.516,40.516,0,0,1,14.264,12.215,30.057,30.057,0,0,1,5.369,17.478,29.37,29.37,0,0,1-5.262,17.078,39.888,39.888,0,0,1-14.025,12.011,74.121,74.121,0,0,1-20.158,7.1A115.583,115.583,0,0,1-21815.982,1231.981Zm-37.352-190.94a29.331,29.331,0,0,1-12.973-2.755,24.025,24.025,0,0,1-8.863-7.452c-4.383-5.951-6.7-14.293-6.7-24.125a70.633,70.633,0,0,1,.924-13.691h55.682v12.762a54.175,54.175,0,0,1-1.484,12.949,35.329,35.329,0,0,1-4.809,11.294,24.179,24.179,0,0,1-8.682,7.988A27.434,27.434,0,0,1-21853.334,1041.041Zm78.182-4.4a23.979,23.979,0,0,1-10.08-2.117,22.388,22.388,0,0,1-7.928-6.119c-4.611-5.543-7.049-13.445-7.049-22.851V993.019h47.33c.781,3.4,1.16,8.332,1.16,15.082a46.687,46.687,0,0,1-1.184,10.919,26.6,26.6,0,0,1-3.922,9.091C-21760.785,1033.769-21766.951,1036.637-21775.152,1036.637Zm-130.35-160.219V803.837l46.6,12.169V863.8l-46.6,12.62h0Zm72.584-17.492h0V820.877l40.83,10.672c9.68,2.365,22.988,5.136,33.684,7.363l2.506.522,0,.7-1.01.215-2.049.435c-10.352,2.2-23.234,4.936-33.359,7.471l-40.6,10.672Z" transform="translate(21905.504 -585)" fill="#fff"/>
	</svg>

		{% section 'about_image_1' %}
	</div>
	<div class="about_image_frame_2 fadeUpTrigger">{%section 'about_image_2'%}</div>
	<div class="about_image_frame_3 fadeUpTrigger">{%section 'about_image_3'%}</div>
	
	<div class="about_poem">
		  <div class="about_image_frame_4 fadeUpTrigger">{%section 'about_image_4'%}</div>
		  <div class="about_poems">
			<p class="about_concept_title fadeUpTrigger">食は、人を幸せにする</p>
			<p class="about_concept_char fadeUpTrigger">口の中でスーッと溶け込む味わいに<br>美味しさの記憶をたどり<br>農家さんだからこそできる美味を。</p>
		  </div>
	</div>
</div>
<div class="how_to_eat about_back_white">
		<p class="recipe_title fadeUpTrigger">ピオーネ<br>美味しい食べ方</p>
		<div class="recipe_content fadeUpTrigger">
			{%section 'about_recipe_block_1' %}
		</div>
</div>
<div class="how_to_eat about_back_white">
		<p class="recipe_title fadeUpTrigger">シャインマスカット<br>美味しい食べ方</p>
		<div class="recipe_content fadeUpTrigger">
			{%section 'about_recipe_block_2' %}
		</div>
</div>
<div class="how_to_eat about_back_white">
		<p class="recipe_title fadeUpTrigger">清水白桃<br>美味しい食べ方</p>
		<div class="recipe_content fadeUpTrigger">
			{%section 'about_recipe_block_3' %}
		</div>
</div>
<div class="how_to_eat about_back_white">
		<p class="recipe_title fadeUpTrigger">黄金桃<br>美味しい食べ方</p>
		<div class="recipe_content fadeUpTrigger">
			{%section 'about_recipe_block_4' %}
		</div>
</div>